.header {
  background: linear-gradient(
    to right,
    #8822c4,
    #432658
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
  color: white;
  z-index: 10;
}
